<h1>ALLEGATO 1</h1>


<h2>CATEGORIE UFFICIALI  ILTER (InfoBase)</h2>

<h3>ENVIRONMENTAL TOPIC</h3><br>
<p text-align="left">
Pollution effects<br>
Ecosystem structure<br>
           &nbsp; &nbsp; &nbsp;Hydrology<br>
           &nbsp; &nbsp; &nbsp;Habitat structure<br>
Species composition<br>
           &nbsp; &nbsp; &nbsp;General species composition<br>
           &nbsp; &nbsp; &nbsp;Arthropods<br>
           &nbsp; &nbsp; &nbsp;Reptiles<br>
           &nbsp; &nbsp; &nbsp;Amphibians<br>
           &nbsp; &nbsp; &nbsp;Birds<br>
                               &nbsp; &nbsp; &nbsp;Fish<br>
                                                   &nbsp; &nbsp; &nbsp;Mammals<br>
                                                   &nbsp; &nbsp; &nbsp;Algae<br>
                                                   &nbsp; &nbsp; &nbsp;Fungi<br>
                                                   &nbsp; &nbsp; &nbsp;Bryophytes & lichens<br>
                                                   &nbsp; &nbsp; &nbsp;Vascular plants<br>
                                                   &nbsp; &nbsp; &nbsp;Phytoplancton<br>
                                                   &nbsp; &nbsp; &nbsp;Zooplancton<br>
                                                   &nbsp; &nbsp; &nbsp;Bacteria<br>
                                                   &nbsp; &nbsp; &nbsp;Other invertebrates (e.g. mollusca, annelida, etc.)<br>
                                                   &nbsp; &nbsp; &nbsp;Other heterotrophic<br>
                                  Biodiversity<br>
                                                   &nbsp; &nbsp; &nbsp;Biodiversity driven by land use<br>
                                                   &nbsp; &nbsp; &nbsp;Biodiversity driven by climate change<br>
                                                   &nbsp; &nbsp; &nbsp;Biodiversity driven by chemicals/eutrophication<br>
                                                   &nbsp; &nbsp; &nbsp;Invasive species<br>
                                  Climate<br>
                                                   &nbsp; &nbsp; &nbsp;Climate change<br>
                                  Biogeochemical cycles<br>
                                                   &nbsp; &nbsp; &nbsp;Carbon cycle<br>
                                                   &nbsp; &nbsp; &nbsp;Eutrophication<br>
                                                   &nbsp; &nbsp; &nbsp;Trophic state<br>
                                                   &nbsp; &nbsp; &nbsp;Gas exchange<br>
                                  Impact of extreme events<br>
                                                   &nbsp; &nbsp; &nbsp;Wind<br>
                                                   &nbsp; &nbsp; &nbsp;Fire<br>
                                                   &nbsp; &nbsp; &nbsp;Drought<br>
                                  Species biology<br>
                                  Population dynamics<br>
                                                   &nbsp; &nbsp; &nbsp;Endangered species<br>
                                                   &nbsp; &nbsp; &nbsp;Endemic species<br>
                                                   &nbsp; &nbsp; &nbsp;Exploited species<br>
                                                   &nbsp; &nbsp; &nbsp;Succession<br>
                                  System ecology<br>
                                                   &nbsp; &nbsp; &nbsp;Forest ecology<br>
                                                   &nbsp; &nbsp; &nbsp;Grassland ecology<br>
                                                   &nbsp; &nbsp; &nbsp;Arctic ecology<br>
                                                   &nbsp; &nbsp; &nbsp;Alpine ecology<br>
                                                   &nbsp; &nbsp; &nbsp;Desert ecology<br>
                                                   &nbsp; &nbsp; &nbsp;Urban ecology<br>
                                                   &nbsp; &nbsp; &nbsp;River ecology<br>
                                                   &nbsp; &nbsp; &nbsp;Lake ecology<br>
                                                   &nbsp; &nbsp; &nbsp;Wetland ecology<br>
                                                   &nbsp; &nbsp; &nbsp;Marine ecology<br>
                                                   &nbsp; &nbsp; &nbsp;Coastal ecology<br>
                                                   &nbsp; &nbsp; &nbsp;Estuary ecology<br>
                                  Landscape ecology<br>
                                  Pedology<br>
                                                   &nbsp; &nbsp; &nbsp;Soil biology<br>
                                                   &nbsp; &nbsp; &nbsp;Soil chemistry<br>
                                                   &nbsp; &nbsp; &nbsp;Soil physics<br>
                                  Molecular ecology (genetics)<br>
                                  Production<br>
                                                   &nbsp; &nbsp; &nbsp;Primary production<br>
                                                   &nbsp; &nbsp; &nbsp;Secondary production<br>
                                  Other Environmental Questions<br><br>
                 

SOCIO-ECONOMIC TOPIC<br>

                                  Socio-ecological issues<br>
                                                   &nbsp; &nbsp; &nbsp;Nature conservation<br>
                                                   &nbsp; &nbsp; &nbsp;Regional development<br>
                                                   &nbsp; &nbsp; &nbsp;Restoration<br>
                                                   &nbsp; &nbsp; &nbsp;Transport<br>
                                                   &nbsp; &nbsp; &nbsp;Hunting<br>
                                                   &nbsp; &nbsp; &nbsp;Forestry<br>
                                                   &nbsp; &nbsp; &nbsp;Agriculture<br>
                                                   &nbsp; &nbsp; &nbsp;Fishery<br>
                                                   &nbsp; &nbsp; &nbsp;Shepherding<br>
                                                   &nbsp; &nbsp; &nbsp;Bioenergy<br>
                                                   &nbsp; &nbsp; &nbsp;Tourism<br>
                                                   &nbsp; &nbsp; &nbsp;Drivers of ecosystem services<br>
                                  Valuation of ecosystem services<br>
                                  Resilience of social and ecological systems<br>
                                  Sustainability<br>
                                  Public attitudes<br>
                                  Management<br>
                                                   &nbsp; &nbsp; &nbsp;Management changes<br>
                                                   &nbsp; &nbsp; &nbsp;Habitat management<br>
                                                   &nbsp; &nbsp; &nbsp;Population management<br>
                                                   &nbsp; &nbsp; &nbsp;Semi-natural habitat management (agriculture etc.)<br>
                                                   &nbsp; &nbsp; &nbsp;Protected areas (national parks etc.)<br>
                                                   &nbsp; &nbsp; &nbsp;Climate change mitigation<br>
                                  Land use<br>
                                  &nbsp; &nbsp; &nbsp;Land transformation<br>
                                                   &nbsp; &nbsp; &nbsp;Urbanisation<br>
                                                   &nbsp; &nbsp; &nbsp;Sustainable use of natural resources<br>
                                  Other socio-economic questions</p><br><br>
 
<h1>ALLEGATO 2</h1><br><br>


<h3>SOCIAL SCIENCES AND HUMANITIES</h3><br>
<p text-align="left">
SH1 Individuals, institutions and markets: economics, finance and management<br>
SH1_1 Macroeconomics, business cycles<br>
SH1_2 Development, economic growth<br>
SH1_3 Microeconomics, institutional economics<br>
SH1_4 Econometrics, statistical methods<br>
SH1_5 Financial markets, asset prices, international finance<br>
SH1_6 Banking, corporate finance, accounting<br>
SH1_7 Competitiveness, innovation, research and development<br>
SH1_8 Consumer choice, behavioural economics, marketing<br>
SH1_9 Organization studies, strategy<br>
SH1_10 Human resource management, labour economics<br>
SH1_11 Public economics, political economics, public administration<br>
SH1_12 Income distribution, poverty<br>
SH1_13 International trade, economic geography<br>
SH1_14 History of economics and economic thought, quantitative and institutional economic
History<br><br>

SH2 Institutions, values, beliefs and behaviour: sociology, social anthropology,
political science, law, communication, social studies of science and technology<br>
SH2_1 Social structure, inequalities, social mobility, interethnic relations<br>
SH2_2 Ageing, work, social policies, welfare<br>
SH2_3 Kinship, cultural dimensions of classification and cognition, identity, gender<br>
SH2_4 Myth, ritual, symbolic representations, religious studies<br>
SH2_5 Democratization, social movements<br>
SH2_6 Violence, conflict and conflict resolution<br>
SH2_7 Political systems and institutions, governance<br>
SH2_8 Legal theory, legal systems, constitutions, comparative law<br>
SH2_9 Global and transnational governance, international studies, human rights<br>
SH2_10 Communication networks, media, information society<br>
SH2_11 Social studies of science and technology, science, technology and innovation
Policies<br><br>

SH3 Environment, space and population: environmental studies, demography,
social geography, urban and regional studies<br>
SH3_1 Environment, resources and sustainability<br>
SH3_2 Environmental change and society<br>
SH3_3 Environmental regulations and climate negotiations<br>
SH3_4 Social and industrial ecology<br>
SH3_5 Population dynamics, health and society<br>
SH3_6 Families and households<br>
SH3_7 Migration<br>
SH3_8 Mobility, tourism, transportation and logistics<br>
SH3_9 Spatial development, land use, regional planning<br>
SH3_10 Urbanization, cities and rural areas<br>
SH3_11 Infrastructure, human and political geography, settlements<br>
SH3_12 Geo-information and spatial data analysis<br>
SH4 The Human Mind and its complexity: cognition, psychology, linguistics,
philosophy and education<br>
SH4_1 Evolution of mind and cognitive functions, animal communication<br>
SH4_2 Human life-span development<br>
SH4_3 Neuropsychology and clinical psychology<br>
SH4_4 Cognitive and experimental psychology: perception, action, and higher cognitive
processes<br>
SH4_5 Linguistics: formal, cognitive, functional and computational linguistics<br>
SH4_6 Linguistics: typological, historical and comparative linguistics<br>
SH4_7 Psycholinguistics and neurolinguistics: acquisition and knowledge of language,
language pathologies<br>
SH4_8 Use of language: pragmatics, sociolinguistics, discourse analysis, second language
teaching and learning, lexicography, terminology<br>
SH4_9 Philosophy, history of philosophy<br>
SH4_10 Epistemology, logic, philosophy of science<br>
SH4_11 Ethics and morality, bioethics<br>
SH4_12 Education: systems and institutions, teaching and learning<br><br>

SH5 Cultures and cultural production: literature, visual and performing arts,
music, cultural and comparative studies<br>
SH5_1 Classics, ancient Greek and Latin literature and art<br>
SH5_2 History of literature<br>
SH5_3 Literary theory and comparative literature, literary styles<br>
SH5_4 Textual philology and palaeography<br>
SH5_5 Visual arts<br>
SH5_6 Performing arts<br>
SH5_7 Museums and exhibitions<br>
SH5_8 Music and musicology, history of music<br>
SH5_9 History of art and history of architecture<br>
SH5_10 Cultural studies, cultural diversity<br>
SH5_11 Cultural heritage, cultural memory<br><br>

SH6 The study of the human past: archaeology, history and memory<br>
SH6_1 Archaeology, archaeometry, landscape archaeology<br>
SH6_2 Prehistory and protohistory<br>
SH6_3 Ancient history<br>
SH6_4 Medieval history<br>
SH6_5 Early modern history<br>
SH6_6 Modern and contemporary history<br>
SH6_7 Colonial and post-colonial history, global and transnational history<br>
SH6_8 Social and economic history<br>
SH6_9 History of ideas, intellectual history, history of sciences and techniques<br>
SH6_10 Cultural history<br>
SH6_11 History of collective identities and memories, history of gender<br>
SH6_12 Historiography, theory and methods of history<br><br><br></p>

 
<h2>PHYSICAL SCIENCES AND ENGINEERING</h2><br>
<p text-align="left">
PE1 Mathematics: all areas of mathematics, pure and applied, plus mathematical
foundations of computer science, mathematical physics and statistics<br>
PE1_1 Logic and foundations<br>
PE1_2 Algebra<br>
PE1_3 Number theory<br>
PE1_4 Algebraic and complex geometry<br>
PE1_5 Geometry<br>
PE1_6 Topology<br>
PE1_7 Lie groups, Lie algebras<br>
PE1_8 Analysis<br>
PE1_9 Operator algebras and functional analysis<br>
PE1_10 ODE and dynamical systems<br>
PE1_11 Theoretical aspects of partial differential equations<br>
PE1_12 Mathematical physics<br>
PE1_13 Probability<br>
PE1_14 Statistics<br>
PE1_15 Discrete mathematics and combinatorics<br>
PE1_16 Mathematical aspects of computer science<br>
PE1_17 Numerical analysis<br>
PE1_18 Scientific computing and data processing<br>
PE1_19 Control theory and optimization<br>
PE1_20 Application of mathematics in sciences<br>
PE1_21 Application of mathematics in industry and society life<br><br>

PE2 Fundamental constituents of matter: particle, nuclear, plasma, atomic,
molecular, gas, and optical physics<br>
PE2_1 Fundamental interactions and fields<br>
PE2_2 Particle physics<br>
PE2_3 Nuclear physics<br>
PE2_4 Nuclear astrophysics<br>
PE2_5 Gas and plasma physics<br>
PE2_6 Electromagnetism<br>
PE2_7 Atomic, molecular physics<br>
PE2_8 Ultra-cold atoms and molecules<br>
PE2_9 Optics, non-linear optics and nano-optics<br>
PE2_10 Quantum optics and quantum information<br>
PE2_11 Lasers, ultra-short lasers and laser physics<br>
PE2_12 Acoustics<br>
PE2_13 Relativity<br>
PE2_14 Thermodynamics<br>
PE2_15 Non-linear physics<br>
PE2_16 General physics<br>
PE2_17 Metrology and measurement<br>
PE2_18 Statistical physics (gases)<br><br>

PE3 Condensed matter physics: structure, electronic properties, fluids, nanosciences<br>
PE3_1 Structure of solids and liquids<br>
PE3_2 Mechanical and acoustical properties of condensed matter<br>
PE3_3 Thermal properties of condensed matter<br>
PE3_4 Transport properties of condensed matter<br>
PE3_5 Electronic properties of materials and transport<br>
PE3_6 Lattice dynamics<br>
PE3_7 Semiconductors, material growth, physical properties<br>
PE3_8 Superconductivity<br>
PE3_9 Superfluids<br>
PE3_10 Spintronics<br>
PE3_11 Magnetism<br>
PE3_12 Electro-optics<br>
PE3_13 Nanophysics: nanoelectronics, nanophotonics, nanomagnetism<br>
PE3_14 Mesoscopic physics<br>
PE3_15 Molecular electronics<br>
PE3_16 Soft condensed matter (liquid crystals…)<br>
PE3_17 Fluid dynamics (physics)<br>
PE3_18 Statistical physics (condensed matter)<br>
PE3_19 Phase transitions, phase equilibria<br>
PE3_20 Biophysics<br><br>

PE4 Physical and analytical chemical sciences: analytical chemistry, chemical
theory, physical chemistry/chemical physics<br>
PE4_1 Physical chemistry<br>
PE4_2 Spectroscopic and spectrometric techniques<br>
PE4_3 Molecular architecture and Structure<br>
PE4_4 Surface science and nanostructures<br>
PE4_5 Analytical chemistry<br>
PE4_6 Chemical physics<br>
PE4_7 Chemical instrumentation<br>
PE4_8 Electrochemistry, electrodialysis, microfluidics, sensors<br>
PE4_9 Method development in chemistry<br>
PE4_10 Heterogeneous catalysis<br>
PE4_11 Physical chemistry of biological systems<br>
PE4_12 Chemical reactions: mechanisms, dynamics, kinetics and catalytic reactions<br>
PE4_13 Theoretical and computational chemistry<br>
PE4_14 Radiation chemistry<br>
PE4_15 Nuclear chemistry<br>
PE4_16 Photochemistry<br>
PE4_17 Corrosion<br>
PE4_18 Characterization methods of materials<br><br>

PE5 Synthetic chemistry and materials: materials synthesis, structure-properties
relations, functional and advanced materials, molecular architecture, organic chemistry<br>
PE5_1 Structural properties of materials<br>
PE5_2 Solid state materials<br>
PE5_3 Surface modification<br>
PE5_4 Thin films<br>
PE5_5 Ionic liquids<br>
PE5_6 New materials: oxides, alloys, composite, organic-inorganic hybrid, nanoparticles<br>
PE5_7 Biomaterials synthesis<br>
PE5_8 Intelligent materials – self assembled materials<br>
PE5_9 Environment chemistry<br>
PE5_10 Coordination chemistry<br>
PE5_11 Colloid chemistry<br>
PE5_12 Biological chemistry<br>
PE5_13 Chemistry of condensed matter<br>
PE5_14 Homogeneous catalysis<br>
PE5_15 Macromolecular chemistry<br>
PE5_16 Polymer chemistry<br>
PE5_17 Supramolecular chemistry<br>
PE5_18 Organic chemistry<br>
PE5_19 Molecular chemistry<br>
PE5_20 Combinatorial chemistry<br><br>

PE6 Computer science and informatics: informatics and information systems,
computer science, scientific computing, intelligent systems<br>
PE6_1 Computer architecture, pervasive computing, ubiquitous computing<br>
PE6_2 Computer systems, parallel/distributed systems, sensor networks, embedded
systems, cyber-physical systems<br>
PE6_3 Software engineering, operating systems, computer languages<br>
PE6_4 Theoretical computer science, formal methods, and quantum computing<br>
PE6_5 Cryptology, security, privacy, quantum crypto<br>
PE6_6 Algorithms, distributed, parallel and network algorithms, algorithmic game
theory<br>
PE6_7 Artificial intelligence, intelligent systems, multi agent systems<br>
PE6_8 Computer graphics, computer vision, multi media, computer games<br>
PE6_9 Human computer interaction and interface, visualization and natural language
processing<br>
PE6_10 Web and information systems, database systems, information retrieval and digital
libraries<br>
PE6_11 Machine learning, statistical data processing and applications using signal
processing (eg. speech, image, video)<br>
PE6_12 Scientific computing, simulation and modelling tools<br>
PE6_13 Bioinformatics, biocomputing, and DNA and molecular computation<br><br>

PE7 Systems and communication engineering: electronic, communication, optical
and systems engineering<br>
PE7_1 Control engineering
PE7_2 Electrical and electronic engineering: semiconductors, components, systems<br>
PE7_3 Simulation engineering and modelling<br>
PE7_4 Systems engineering, sensorics, actorics, automation<br>
PE7_5 Micro- and nanoelectronics, optoelectronics<br>
PE7_6 Communication technology, high-frequency technology<br>
PE7_7 Signal processing<br>
PE7_8 Networks (communication networks, sensor networks, networks of robots.....)<br>
PE7_9 Man-machine-interfaces<br>
PE7_10 Robotics<br><br>

PE8 Products and processes engineering: product design, process design and
control, construction methods, civil engineering, energy systems, material engineering<br>
PE8_1 Aerospace engineering<br>
PE8_2 Chemical engineering, technical chemistry<br>
PE8_3 Civil engineering, maritime/hydraulic engineering, geotechnics, waste treatment<br>
PE8_4 Computational engineering<br>
PE8_5 Fluid mechanics, hydraulic-, turbo-, and piston engines<br>
PE8_6 Energy systems (production, distribution, application)<br>
PE8_7 Micro (system) engineering<br>
PE8_8 Mechanical and manufacturing engineering (shaping, mounting, joining, separation)<br>
PE8_9 Materials engineering (biomaterials, metals, ceramics, polymers, composites, …)<br>
PE8_10 Production technology, process engineering<br>
PE8_11 Product design, ergonomics, man-machine interfaces<br>
PE8_12 Sustainable design (for recycling, for environment, eco-design)<br>
PE8_13 Lightweight construction, textile technology<br>
PE8_14 Industrial bioengineering<br>
PE8_15 Industrial biofuel production<br><br>

PE9 Universe sciences: astro-physics/chemistry/biology; solar system; stellar, galactic
and extragalactic astronomy, planetary systems, cosmology, space science, instrumentation<br>
PE9_1 Solar and interplanetary physics<br>
PE9_2 Planetary systems sciences<br>
PE9_3 Interstellar medium<br>
PE9_4 Formation of stars and planets<br>
PE9_5 Astrobiology<br>
PE9_6 Stars and stellar systems<br>
PE9_7 The Galaxy<br>
PE9_8 Formation and evolution of galaxies<br>
PE9_9 Clusters of galaxies and large scale structures<br>
PE9_10 High energy and particles astronomy – X-rays, cosmic rays, gamma rays, neutrinos<br>
PE9_11 Relativistic astrophysics<br>
PE9_12 Dark matter, dark energy<br>
PE9_13 Gravitational astronomy<br>
PE9_14 Cosmology<br>
PE9_15 Space Sciences<br>
PE9_16 Very large data bases: archiving, handling and analysis<br>
PE9_17 Instrumentation - telescopes, detectors and techniques<br><br>

PE10 Earth system science: physical geography, geology, geophysics, atmospheric
sciences, oceanography, climatology, ecology, global environmental change, biogeochemical
cycles, natural resources management<br>
PE10_1 Atmospheric chemistry, atmospheric composition, air pollution<br>
PE10_2 Meteorology, atmospheric physics and dynamics<br>
PE10_3 Climatology and climate change<br>
PE10_4 Terrestrial ecology, land cover change<br>
PE10_5 Geology, tectonics, volcanology<br>
PE10_6 Paleoclimatology, paleoecology<br>
PE10_7 Physics of earth's interior, seismology, volcanology<br>
PE10_8 Oceanography (physical, chemical, biological, geological)<br>
PE10_9 Biogeochemistry, biogeochemical cycles, environmental chemistry<br>
PE10_10 Mineralogy, petrology, igneous petrology, metamorphic petrology<br>
PE10_11 Geochemistry, crystal chemistry, isotope geochemistry, thermodynamics<br>
PE10_12 Sedimentology, soil science, palaeontology, earth evolution<br>
PE10_13 Physical geography<br>
PE10_14 Earth observations from space/remote sensing<br>
PE10_15 Geomagnetism, paleomagnetism<br>
PE10_16 Ozone, upper atmosphere, ionosphere<br>
PE10_17 Hydrology, water and soil pollution<br><br></p>


<h2>LIFE SCIENCES</h2><br>
<p text-align="left">
LS1 Molecular and Structural Biology and Biochemistry: molecular biology,
biochemistry, biophysics, structural biology, biochemistry of signal transduction<br>
LS1_1 Molecular biology and interactions<br>
LS1_2 General biochemistry and metabolism<br>
LS1_3 DNA synthesis, modification, repair, recombination and degradation<br>
LS1_4 RNA synthesis, processing, modification and degradation<br>
LS1_5 Protein synthesis, modification and turnover<br>
LS1_6 Biophysics<br>
LS1_7 Structural biology (crystallography, NMR, EM)<br>
LS1_8 Biochemistry of signal transduction<br><br>

LS2 Genetics, Genomics, Bioinformatics and Systems Biology: genetics,
population genetics, molecular genetics, genomics, transcriptomics, proteomics,
metabolomics, bioinformatics, computational biology, biostatistics, biological modelling and
simulation, systems biology, genetic epidemiology<br>
LS2_1 Genomics, comparative genomics, functional genomics<br>
LS2_2 Transcriptomics<br>
LS2_3 Proteomics<br>
LS2_4 Metabolomics<br>
LS2_5 Glycomics<br>
LS2_6 Molecular genetics, reverse genetics and RNAi<br>
LS2_7 Quantitative genetics<br>
LS2_8 Epigenetics and gene regulation<br>
LS2_9 Genetic epidemiology<br>
LS2_10 Bioinformatics<br>
LS2_11 Computational biology<br>
LS2_12 Biostatistics<br>
LS2_13 Systems biology<br>
LS2_14 Biological systems analysis, modelling and simulation<br><br>

LS3 Cellular and Developmental Biology: cell biology, cell physiology, signal
transduction, organogenesis, developmental genetics, pattern formation in plants and
animals<br>
LS3_1 Morphology and functional imaging of cells<br>
LS3_2 Cell biology and molecular transport mechanisms<br>
LS3_3 Cell cycle and division<br>
LS3_4 Apoptosis<br>
LS3_5 Cell differentiation, physiology and dynamics<br>
LS3_6 Organelle biology<br>
LS3_7 Cell signalling and cellular interactions<br>
LS3_8 Signal transduction<br>
LS3_9 Development, developmental genetics, pattern formation and embryology in
animals<br>
LS3_10 Development, developmental genetics, pattern formation and embryology in plants<br>
LS3_11 Cell genetics<br>
LS3_12 Stem cell biology<br><br>
LS4 Physiology, Pathophysiology and Endocrinology: organ physiology,
pathophysiology, endocrinology, metabolism, ageing, regeneration, tumorigenesis,
cardiovascular disease, metabolic syndrome<br>
LS4_1 Organ physiology<br>
LS4_2 Comparative physiology<br>
LS4_3 Endocrinology<br>
LS4_4 Ageing<br>
LS4_5 Metabolism, biological basis of metabolism related disorders<br>
LS4_6 Cancer and its biological basis<br>
LS4_7 Cardiovascular diseases<br>
LS4_8 Non-communicable diseases (except for neural/psychiatric, immunity-related,
metabolism-related disorders, cancer and cardiovascular diseases)<br><br>

LS5 Neurosciences and neural disorders: neurobiology, neuroanatomy,
neurophysiology, neurochemistry, neuropharmacology, neuroimaging, systems
neuroscience, neurological disorders, psychiatry<br>
LS5_1 Neuroanatomy and neurophysiology<br>
LS5_2 Molecular and cellular neuroscience<br>
LS5_3 Neurochemistry and neuropharmacology<br>
LS5_4 Sensory systems (e.g. visual system, auditory system)<br>
LS5_5 Mechanisms of pain<br>
LS5_6 Developmental neurobiology<br>
LS5_7 Cognition (e.g. learning, memory, emotions, speech)<br>
LS5_8 Behavioral neuroscience (e.g. sleep, consciousness, handedness)<br>
LS5_9 Systems neuroscience<br>
LS5_10 Neuroimaging and computational neuroscience<br>
LS5_11 Neurological disorders (e.g. Alzheimer's disease, Huntington's disease, Parkinson's
disease)<br>
LS5_12 Psychiatric disorders (e.g. schizophrenia, autism, Tourette's syndrome, obsessivecompulsive
disorder, depression, bipolar disorder, attention deficit hyperactivity
disorder)<br><br>

LS6 Immunity and infection: immunobiology, aetiology of immune disorders,
microbiology, virology, parasitology, global and other infectious diseases, population
dynamics of infectious diseases, veterinary medicine<br>
LS6_1 Innate immunity<br>
LS6_2 Adaptive immunity<br>
LS6_3 Phagocytosis and cellular immunity<br>
LS6_4 Immunosignalling<br>
LS6_5 Immunological memory and tolerance<br>
LS6_6 Immunogenetics<br>
LS6_7 Microbiology<br>
LS6_8 Virology<br>
LS6_9 Bacteriology<br>
LS6_10 Parasitology<br>
LS6_11 Prevention and treatment of infection by pathogens (e.g. vaccination, antibiotics,
fungicide)<br>
LS6_12 Biological basis of immunity related disorders<br>
LS6_13 Veterinary medicine<br><br>

LS7 Diagnostic tools, therapies and public health: aetiology, diagnosis and
treatment of disease, public health, epidemiology, pharmacology, clinical medicine,
regenerative medicine, medical ethics<br>
LS7_1 Medical engineering and technology<br>
LS7_2 Diagnostic tools (e.g. genetic, imaging)<br>
LS7_3 Pharmacology, pharmacogenomics, drug discovery and design, drug therapy<br>
LS7_4 Analgesia<br>
LS7_5 Toxicology<br>
LS7_6 Gene therapy, stem cell therapy, regenerative medicine<br>
LS7_7 Surgery<br>
LS7_8 Radiation therapy<br>
LS7_9 Health services, health care research<br>
LS7_10 Public health and epidemiology<br>
LS7_11 Environment and health risks including radiation<br>
LS7_12 Occupational medicine<br>
LS7_13 Medical ethics<br><br>

LS8 Evolutionary, population and environmental biology: evolution, ecology,
animal behaviour, population biology, biodiversity, biogeography, marine biology, ecotoxicology,
prokaryotic biology<br>
LS8_1 Ecology (theoretical, community, population, microbial, evolutionary ecology)<br>
LS8_2 Population biology, population dynamics, population genetics, plant-animal
interactions<br>
LS8_3 Systems evolution, biological adaptation, phylogenetics, systematics<br>
LS8_4 Biodiversity, comparative biology<br>
LS8_5 Conservation biology, ecology, genetics<br>
LS8_6 Biogeography<br>
LS8_7 Animal behaviour (behavioural ecology, animal communication)<br>

</p>