<h2> Modulo 3 </h2>
<p style="color:black;margin-left:20px;font-size:18px">Questo modulo deve essere compilato nel caso in cui chi svolge uno studio o una ricerca o una semplice escursione per diletto all’interno della Riserva Naturale di Torricchio, osservi organismi animali o vegetali particolarmente interessanti dal punto di vista sia biogeografico che ecologico e voglia segnalarli.<br/><br/>
<b>Invia una nuova segnalazione per uno dei tre seguenti ambiti:</b></p><br/>