<div class="maincontent">
<br/>
<h2>Università di Camerino <br/>
 Ex Dipartimento di Botanica ed Ecologia</h2><br/><br/><br/>
<p align="justify"><b>Indirizzo:</b>	via Pontoni, 5 - 62032 Camerino (MC)<br/>
<b>Telefono: </b>0737/404512	<br/>
  <b> Fax: </b>0737/404508	<br/>
<b>Email:</b> riserva.torricchio@unicam.it	<br/>
<b>Web:</b>	<br/></p>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<%= render 'layouts/footer' %>
</div>