<div class="maincontent">
 <% if user_signed_in? %>

<p align="justify">Il seguente metadatabase nasce in recepimento dei fermenti culturali che fin dal 2006, con l’ingresso della Riserva naturale di Torricchio nella rete LTER-Italia, hanno portato  i referenti della Riserva a  continui aggiornamenti e consultazioni con i responsabili del network sulle metodologie di condivisione dei dati.<br/>
Le necessità dettate dall’appartenenza alla rete LTER-Italia hanno portato la Riserva di Torricchio alla realizzazione di un metadatabase online progettato sulla base della politica di condivisione dei dati ILTER (ILTER Data Policy, as approved by the ILTER Coordinating Committee on 21 August 2008).
</p><br/><br/><br/><br/>
<% else %> 
<p align="justify">Il seguente metadatabase nasce in recepimento dei fermenti culturali che fin dal 2006, con l’ingresso della Riserva naturale di Torricchio nella rete LTER-Italia, hanno portato  i referenti della Riserva a  continui aggiornamenti e consultazioni con i responsabili del network sulle metodologie di condivisione dei dati.<br/>
Le necessità dettate dall’appartenenza alla rete LTER-Italia hanno portato la Riserva di Torricchio alla realizzazione di un metadatabase online progettato sulla base della politica di condivisione dei dati ILTER (ILTER Data Policy, as approved by the ILTER Coordinating Committee on 21 August 2008).
</p><br/><br/><br/><br/>
<h2>Per accedere ai metadati della Riserva o per proporre un nuovo progetto registrati</h2>
<% end%>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<%= render 'layouts/footer' %>
</div>

