<div class="maincontent">
<h1>Modifica la segnalazione</h1>

<%= render 'form' %>

<br/><br/>
<p class="bottoneverde"><%= link_to 'Mostra', [@segnalazione_vegetali.user, @segnalazione_vegetali] %></p><br/><br/><br/>
<p class="bottonegrigio"><%= link_to 'Indietro', segnalazioni_path(@segnalazione_vegetali.user) %></p><br/><br/><br/><br/>
<hr>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<%= render 'layouts/footer' %>
</div>

