<head>
    <link href="select2.css" rel="stylesheet"/>
    <script src="select2.js"></script>
    <script>
        $(document).ready(function() { $("#e9").select2(); });
    </script>
</head>
<body>
    
</body>