<p>Salve <%= @resource.email %>!</p>

<p>Per modificare la password cliccare sul link sottostante:</p>

<p><%= link_to 'Modifica la mia password', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Se il cambio di password non è stato richiesto si prega di ignorare questa mail.</p>
<p>La password non verrà modificata finchè non verrà cliccato il link sottostante.</p>
