<div class="items">
<div class="form-field1">     
  <%= f.label :Descrizione %>
  <%= f.text_field :descrizione %>
  <br/>
  
  <%= f.hidden_field :id %> 
</div> 
 <%= f.link_to_remove "Rimuovi Raster" %>
</div><br/><br/>