<div class="maincontent">
<h1>Modifica la proposta</h1>

<%= render 'form' %>
<br/><br/>
<p class="bottoneverde"><%= link_to 'Mostra', [@modulo2.user, @modulo2] %></p><br/><br/><br/>

<p class="bottonegrigio"><%= link_to 'Indietro', user_pages_path %></p><br/><br/><br/>
<hr>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<%= render 'layouts/footer' %>
</div>