<maincontent class="maincontent">
  <div id="maincontent">
<br>Benvenuto nel sito della Riserva Naturale</br>
<br><%= link_to "Registrati per proporre un nuovo progetto", new_user_registration_path,:data => { :no_turbolink => true }%></br>
</div>

</maincontent>
